<template>
  <div class="column calc" :class="{ active: active }">
    <div>
      <toogle :val="currency" :toogle="toogleCurrency" />
    </div>

    <div class="price-input-group">
      <label>Valor:</label>
      <span>$</span>
      <input :value="mealPrice" @keyup="updateMealPrice" type="number" placeholder="Valor" />
    </div>

    <range-slide :percentage="true" label="Gorjeta" min="10" max="20" :value="tip" :updateSlide="updateTip" />
    <range-slide label="Pessoas" min="2" max="16" :value="people" :updateSlide="updatePeople" />
  </div>
</template>


<script>
import Toogle from "./toogle.vue";
import RangeSlide from "./range-slide.vue";

export default {
  components: { Toogle, RangeSlide },
  props: ["active"],
  computed: {
    currency() {
      return this.$store.getters.currency;
    },
    tip() {
      return this.$store.getters.tip;
    },
    people() {
      return this.$store.getters.people;
    },
    mealPrice() {
      return this.$store.getters.mealPrice;
    },
  },
  methods: {
    toogleCurrency() {
      const currency = this.$store.getters.currency === 'EUR' ? 'USD' : 'EUR'
      this.$store.dispatch("toogleCurrency", currency);
    },
    updatePeople(event) {
      this.$store.dispatch("updatePeople", event.target.value);
    },
    updateTip(event) {
      this.$store.dispatch("updateTip", event.target.value);
    },
    updateMealPrice(event) {
      this.$store.dispatch("updateMealPrice", event.target.value);
    },
  },
};
</script>

<style lang="scss" scoped>
.price-input-group {
    display: flex;
    align-items: flex-end;

    span {
      margin: 0 10px 0 20px;
      font-size: 45px;
    }
  }
</style>