<template>
  <div class="range">
    <label>{{ label }} {{ value }} {{ percentage && "%"}}</label>
    <div class="range__slide">
      <span>{{ min }}</span>
      <input @change="updateSlide"  type="range" :min="min" :max="max" :value="value" class="slider" />
      <span>{{ max }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: ["label", "min", "max", "value", "updateSlide", "percentage"],
};
</script>

<style lang="scss" scoped>
.range {
  max-width: 300px;

  &__slide {
    display: flex;
    align-items: baseline;
    > input {
      margin: 0 10px;
    }
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
}
</style>
