<template>
  <div class="column results" :class="{ active: active }">
    <div>
      <label class="results__label">Conta</label>
      <p class="results__quantity">$ {{ mealPrice }}</p>
    </div>

    <div>
      <label class="results__label">Gorjeta</label>
      <p class="results__quantity">$ {{ tipCalculated.tipCalc }}</p>
    </div>

    <div>
      <label class="results__label">Total</label>
      <p class="results__quantity">$ {{ tipCalculated.totalPrice }}</p>
    </div>

    <div>
      <label class="results__label">Por Pessoa</label>
      <p class="results__quantity">$ {{ tipCalculated.perPerson }}</p>
    </div>

    <div>
      <label class="results__label">Em R$</label>
      <p class="results__quantity">R$ {{ inBRL }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ["active"],
  computed: {
    tipCalculated() {
      return this.$store.getters.tipCalculated;
    },
    mealPrice() {
      return this.$store.getters.mealPrice;
    },
    inBRL() {
      return this.$store.getters.inBRL;
    },
    currency() {
      return this.$store.getters.currency;
    },
  },
};
</script>

<style lang="scss" scoped>
.results {
  flex-direction: column;

  &__label {
    font-size: 25px;
  }
  &__quantity {
    font-size: 35px;
  }
}
</style>