<template>
  <div class="swtich-container">
    <span>EUR</span>
    <label class="switch">
      <input type="checkbox" @click="toogle" :value="val === 'EUR' ? true : false" />
      <div class="slider round"></div>
    </label>
    <span>USD</span>
  </div>
</template>

<script>
export default {
  props: ["label", "val", "toogle"],
  created() {
    this.$store.dispatch("toogleCurrency", "EUR");
  },
};
</script>

<style lang="scss" scoped>
.swtich-container {
  display: flex;
  align-items: center;

  .switch {
    margin: 0 10px;
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
  }
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #101010;
}

input:focus + .slider {
  box-shadow: 0 0 1px #101010;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>