<template>
  <div class="container main-section">
    <h1>Le/Tip</h1>
    <div class="main-content">
      <Calc :active="active === 'calc'" />
      <Results :active="active === 'results'" />
    </div>
    <button @click="changeActive" class="toogle-active">{{ active === 'calc' ? '→' : '←' }}</button>
  </div>
</template>

<script>
import Calc from "../components/calc.vue";
import Results from "../components/results.vue";

export default {
  components: { Calc, Results },
  created() {},
  data() {
    return { active: "calc" };
  },
  methods: {
    changeActive() {
      this.active = this.active === "calc" ? "results" : "calc";
    },
  },
};
</script>

<style lang="scss">
.main-section {
  display: flex;
  flex-direction: column;
  text-align: center;

  .toogle-active {
    margin-left: auto;
    background: #3d3d3d;
    color: white;
    font-size: 20px;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 20px;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  .main-content {
    display: flex;

    .column {
      width: 50%;
    }

    @media screen and (max-width: 768px) {
      .column {
        display: none;
        width: 100%;
      }

      .active {
        display: flex;
      }
    }
  }

  .calc {
    display: flex;
    flex-direction: column;

    > div {
      margin-bottom: 20px;
    }
  }
}
</style>