@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
    box-sizing: border-box;
}

body *, input, button {
    font-family: Roboto, 'sans-serif';
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 20px;
    }
}

input[type=number] {
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}